include ./Utils/index

.note-delete-modal
    .note-delete-modal__content
        h4.note-delete-modal__title Delete Note
        p.note-delete-modal__confirmation-info Are you sure you want to delete this note?
        +NoteDeleteConfirmModalUtils().note-delete-modal__utils