@use "@Shared/scss/function" as sharedFunction;

.no-notes-text-block {
  display: flex;
  flex-direction: column;

  gap: sharedFunction.responsive-min(12);

  text-align: center;

  &__heading {
    margin: 0;

    font-weight: 500;
    font-size: sharedFunction.responsive-min(20);
  }

  &__text {
    margin: 0;


    line-height: sharedFunction.responsive-min(25.6);
    font-size: sharedFunction.responsive-min(16);
  }
}