
mixin NoNotesTextBlock()
    div&attributes(attributes).no-notes-text-block
        h4.no-notes-text-block__heading No notes yet
        p.no-notes-text-block__text Add a note to keep track of your learnings.