@use "@Shared/scss/function" as sharedFunction;

.base-textarea {
  background-color: #EEEFF0;

  border-width: 0;
  border-radius: sharedFunction.responsive-min(12);

  padding: sharedFunction.responsive-min(8) sharedFunction.responsive-min(12);
  font-size: sharedFunction.responsive-min(16);
  outline-width: 0;

  &:hover {
    background-color: #DCDEE0;
  }

  &:active, &:focus {
    background-color: #fff;
    outline:  #1B1C1E solid sharedFunction.responsive-min(1);
  }
}
